{% extends 'website/index.html' %}
{% load crispy_forms_tags %}
{% block body %}

    <a class="btn btn-warning" href="{% url "pendu_reset" %}">reset</a>
<h2>jeu du pendu</h2>
    <h6>mot a deviner: {{ guess_word }}</h6>
    lettres :
    {% for letter in word_letters %}
        {{ letter }},
    {% endfor %}

<form method="POST">
<h3>Votre lettre</h3>
{% csrf_token %}
{{ form }}
<button type="submit" class="btn btn-primary">envoyer</button>
</form>

    <div>
        {% if userLetter %}
            <h3>user letter : {{ userLetter }}</h3>
            lettre deviné : {{ user_letters_guessed }}
        {% endif %}

{#        {% for letter_index in index %}#}
{#                {{ letter_index }}#}
{#        <{% endfor %}#}

        {% if letter_state %}
            <h3 class="text-success">la lettre est dans le mot</h3>
            index :
        {% else %}
            <h3 class="text-danger">la lettre n'est pas dans le mot</h3>
        {% endif %}

    </div>

{% endblock %}