{% extends 'website/index.html' %}
{% block body %}
    <a class="btn btn-warning" href="{% url "cemantix_reset" %}">reset</a>

    <h1 class="text-success">Jeu du cemantix</h1>

    <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="submit">envoyer</button>
    </form>

    <h2>similarity : {{ similarity }} %</h2>

    <p>{{ state }}</p>

    <ul>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Similarity</th>
            </tr>
        </thead>
        <tbody>
        {% for info in user_list %}
            <tr>
                <th scope="col">{{ info.user_word }}</th>
                <th scope="col">{{ info.similarity }} %</th>
            </tr>
        {% endfor %}
        </tbody>

     </table>
{% endblock %}